.header {
    padding: 92px 50px 96px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: lowercase;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
    gap: 31px;
}

.header__links-list-item_no-bullit .header__link {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__logo-image {
    display: block;
}

.address {
    max-width: 240px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
}

.header__address {
    justify-self: end;
}

.address-list {
    list-style: none;
}

.address-item {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
}

.address-item_active .address-link {
    text-decoration: none;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover__title {
    padding: 165px 0 106px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    text-transform: uppercase;
    z-index: 2;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    color: #FFFFFF;
    letter-spacing: 30px;
}

.aligned-text {
    display: block;
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    margin-top: 20px;
}

.aligned-text_right {
    text-align: right;
    margin: 20px 20px 0 0;
}

.cover__description {
    padding: 0 50px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    color: #FFFFFF;
    word-spacing: 18.5px;
}

.cover__description-text {
    position: relative;
    z-index: 2;
}

.bet-button {
    padding: 12px 32px 11px 31px;
    position: relative;
    z-index: 2;
    background: transparent;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid currentColor;
}

.lots {
    margin-top: 180px;
    padding: 0 24px 0;
}

.lots__heading {
    margin: 0 0 27px 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
}

.lots__card-list {
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lots__card-list-item {
    width: 334px;
}

.card-link {
    display: block;
    text-decoration: none;
    flex-grow: 1;
    height: 100%;
}

.card {
    min-height: 596px;
    position: relative;
    padding: 48px 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    text-decoration: underline;
    z-index: 2;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.20;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.20;
    position: relative;
    z-index: 2;
    color: #fff;
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    padding-left: 40px;
    font-weight: 400;
    font-size: 20px;
}

.about {
    height: auto;
    margin-top: 120px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    align-items: start;
    gap: 25px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 0 47px;
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
}

.about__logo-image {
    display: block;
    width: 148px;
    height: 115px;
}

.about__column {
    width: 100%;
}

.about__title {
    margin-top: 136px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.20;
}

.about__text:first-of-type {
    margin-top: 100px;
}

.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 50px 82px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: lowercase;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    text-align: center;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 18px;
    font-family: Raleway, sans-serif;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-link {
    display: inline-block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
